/* Variables CSS para colores y espaciado */
:root {
  --primary-color: #2563eb;
  --secondary-color: #1d4ed8;
  --dark-blue-color: #1f2937;
  --light-color: #f9fafb;
  --white: #ffffff;
  --green-color: #95c11e;
  --red-color: #e30614;
  --gray: #565656;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-600: #4b5563;
  --gray-800: #1f2937;
}

/*
*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  overflow-x: hidden;
}*/


body {
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--gray-300);
  background-color: var(--light-color);
  line-height: 1.6;
  font-family:'Segoe UI';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
